In [1]:
import pandas as pd
import requests
import json
import matplotlib
%matplotlib inline

In [2]:
with open("../data/nasa/names_dict.json") as ja:
    dictionary = json.load(ja)

In [3]:
with open("../data/final/final_frame.csv") as ag:
    df = pd.read_csv(ag)

In [4]:
df = df.rename(columns = dictionary)

In [5]:
df = df.rename(columns = {'pl_eqt':'Planet Equilibrium Temperature'})

In [6]:
df.to_csv("../data/final/final_frame.csv", index=False)

In [7]:
with open("../data/combined/main_frame.csv") as ag:
    df = pd.read_csv(ag,low_memory=False)

In [8]:
df = df.rename(columns = dictionary)

In [9]:
df = df.rename(columns = {'pl_eqt':'Planet Equilibrium Temperature'})

In [10]:
df

,Planet Name,Host Star Name,Planet Letter,Discovery Method,Controversial Flag,Number of Planets in System,Orbital Period (days),pl_orbpererr1,pl_orbpererr2,pl_orbperlim,...,star_sp_type,star_age,star_age_error_min,star_age_error_max,star_teff,star_teff_error_min,star_teff_error_max,star_detected_disc,star_magnetic_field,star_alternate_names
0,CoRoT-11 b,CoRoT-11,b,Transit,0,1,2.994330,0.000011,-0.000011,0.0,...,F6V,2.00,1.00,1.00,6343.0,72.0,72.0,NaN,NaN,NaN
1,CoRoT-12 b,CoRoT-12,b,Transit,0,1,2.828042,0.000013,-0.000013,0.0,...,G2V,6.30,3.10,3.10,5675.0,80.0,80.0,NaN,NaN,NaN
2,CoRoT-13 b,CoRoT-13,b,Transit,0,1,4.035190,0.000030,-0.000030,0.0,...,G0V,1.64,1.52,1.52,5945.0,90.0,90.0,NaN,NaN,NaN
3,CoRoT-14 b,CoRoT-14,b,Transit,0,1,1.512140,0.000130,-0.000130,0.0,...,F9V,4.20,3.80,3.80,6035.0,100.0,100.0,NaN,NaN,NaN
4,CoRoT-16 b,CoRoT-16,b,Transit,0,1,5.352270,0.000200,-0.000200,0.0,...,G5V,6.73,2.80,2.80,5650.0,100.0,100.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4139,HATS-42 b,HATS-42,b,Transit,0,1,2.292102,0.000002,-0.000002,0.0,...,NaN,3.26,0.80,0.80,6060.0,120.0,120.0,NaN,NaN,NaN
4140,OGLE-2017-BLG-1522L b,OGLE-2017-BLG-1522L,b,Microlensing,0,1,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4141,GJ 1132 c,GJ 1132,c,Radial Velocity,0,2,8.929000,0.010000,-0.010000,0.0,...,M3.5,5.00,0.00,10.00,3270.0,140.0,140.0,NaN,NaN,NaN
4142,HAT-P-11 c,HAT-P-11,c,Radial Velocity,0,2,3407.000000,360.000000,-190.000000,0.0,...,K4,6.50,4.10,5.90,4780.0,50.0,50.0,NaN,NaN,NaN
4143,CoRoT-20 c,CoRoT-20,c,Radial Velocity,0,2,1675.000000,19.000000,-17.000000,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.to_csv("../data/combined/main_frame.csv", index=False)