In [1]:
# Import the different libraries:

import pandas as pd
import requests
import json
from bs4 import BeautifulSoup
import matplotlib as plt
import numpy as np

In [2]:
df = pd.read_csv("../data/final/final_frame.csv")

In [3]:
mass_period = df.copy()

In [4]:
dist_temp = df.copy()

In [5]:
mass_period = (mass_period[(mass_period["Stellar Mass (solar mass)"]>0.8)
                          &(mass_period["Stellar Mass (solar mass)"]<1.2)])

In [6]:
mass_period = (mass_period[(mass_period["Orbital Period (days)"]>200)
                          &(mass_period["Orbital Period (days)"]<450)])

In [7]:
mass_period

,pl_id,Planet Name,Stellar Mass (solar mass),Orbital Period (days),Effective Temperature (K),Distance (pc),Planet Mass or M*sin(i) [Jupiter mass],Planet Equilibrium Temperature,st_dist_km,years_by_car,years_by_plane,years_by_rocket,pl_mass_e
266,218,WASP-41 c,0.81,421.0000,5545.0,164.14,3.180,-32.0,5.068332e+15,3.980782e+09,7.961564e+08,1.974594e+07,1010.6040
306,59,Kepler-22 b,0.97,289.8623,5518.0,190.00,0.113,-11.0,5.866839e+15,4.607948e+09,9.215896e+08,2.285688e+07,35.9114
493,60,PH2 b,0.94,282.5255,5629.0,347.27,NaN,8.0,1.072304e+16,8.422116e+09,1.684423e+09,4.177637e+07,NaN
636,272,Kepler-452 b,1.04,384.8430,5757.0,560.62,NaN,-8.0,1.731088e+16,1.359636e+10,2.719271e+09,6.744225e+07,NaN
683,45,Kepler-69 c,0.81,242.4613,5638.0,746.33,NaN,26.0,2.304525e+16,1.810026e+10,3.620052e+09,8.978305e+07,NaN